.main {
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.h1 {
  font-weight: 400;
}

.textarea {
  resize: none;
  width: 100%;
  padding-left: 0.5rem;
  min-height: 100px;
  outline: 2px solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  border: 2px solid #A7C7E7;
}

.submit {
  background-color: #4169E1;
  border: none;
  color: white;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.css {
  width: 100%;
  font-size: 16px;
}